@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --cor1:#181818;   /*preto da hotbar*/ 
    --cor2:#ffee96;    /*  */
    --cor3:#ea5446;    /* vermelho da lista*/
    --cor4: ;/*  */
    --cor5: ;/*  */

    --font-botão: 'Anton', sans-serif;  
    --font-destaque: 'Montserrat', sans-serif;
    --font-padrão: Arial, Helvetica, sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
/* head */
header{
    background-color: var(--cor1);
    display: flex;
    flex-wrap: wrap;
} 
.log1{
    padding: 5px 20px;
    
}

.log1 img{
    width:80px;
}
nav{
    margin: auto;
    font-family: var(--font-destaque);
    
}

nav > a:hover{
    background-color: var(--cor2);
    color: black;
    border-radius: 3px;
    transition-duration: .3s;
}
nav{
    font-size: 29px;
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    
    font-weight: bold;
    
}
nav a{
    color: var(--cor2);
    text-decoration: none;
    padding: 10px;
    padding-left: 15px;
}
.entre{
    padding: 10px;
    

}
.entre a{
    color: var(--cor2);
    text-decoration: none;
    font-family:var(--font-destaque);
    padding: 10px;
    
}
.entre a:hover{
    background-color: var(--cor2);
    color: var(--cor1);
    border-radius: 3px;
}

/* Main */
h2{
    background-color:var(--cor2);
    font-family:var(--font-padrão);
    font-size: 25px;
    text-align: center;
    padding: 15px;
    border-radius: 0px 0px 200px 200px;
    box-shadow: 0px 0px 2px black;
}


/*  H2 paginas secundarias  */
main{
    justify-content: center;
    align-items: center;
    
    
}
main .video{
    text-align: center ;
    padding-top: 15px;
    background-color: black;
    padding-bottom: 15px;

}
article{
    display: flex;
    text-align: center;
    justify-content: center;
    
    
}
article img{
    width: 500px;
    padding: 20px;
    display: flex;
    
}

main a{
    display: flex;
    font-size: 2rem;
    text-decoration: none;
    margin: 3%;
    color: black;
    background-color:var(--cor2);
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    height: 70px;
    align-items: center;
    
}


main .arrasta{
     display: flex;
     align-items: center;
     justify-content: center;
}
main a:hover{
    box-shadow: 0px 0px 2px black ;
    background-color:rgba(255, 255, 0, 0.411);
    color:black
    
}
main p{
    font-family: var(--font-padrão);
    font-size: 1rem;
    display: flex;
    text-align: justify;
    padding: 10px;
}
main h1{
    background-color:var(--cor3);
    font-family:var(--font-padrão);
    font-size: 25px;
    text-align: center;
    padding: 15px;
}
main img{
    width: 25%;
    padding: 20px;

}
.novidades{
    display: flex;
    text-align: center;
    justify-content: center;
    

}
.novidades img{
    width: 20%;
    margin: 7px 
    
}
.novidades img:hover{
    box-shadow: 0px 0px 2px black;
    border-radius: 3px;
}

/* Footer  */
footer{
    display: flex;
    background-color: var(--cor1);
    padding: 7px 20px 0px 20px;
}
#foter{
    display: flex;
    background-color:var(--cor1);
    max-width: 1200px;
    min-width: 300px;
    align-items: center;
    
}
#foter img{
    width: 120px;
    
}
#foter p{
    font-family: var(--font-destaque);
    color: var(--cor2);
    text-align: justify;
    padding: 0px 30px 0px 30px;
    margin: 0px 30px  0px  70px;
    
}
.social a{
    color:dodgerblue;
    padding-left: 10px;
    
}
.social{
    background-color: var(--cor1);
    font-size: 25px;
    text-align: center;
    
}


